<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-split-screen-heading"
        data-cy="SplitScreenCreateUpdateHeading"
        jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.home.createOrEditLabel"
      >
        创建或编辑 Split Screen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.materialId" for="field_materialId"
            >Material Id</label
          >
          <input
            type="text"
            class="form-control"
            name="materialId"
            id="field_materialId"
            data-cy="materialId"
            formControlName="materialId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.content" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.pictureUrl" for="field_pictureUrl"
            >Picture Url</label
          >
          <input
            type="text"
            class="form-control"
            name="pictureUrl"
            id="field_pictureUrl"
            data-cy="pictureUrl"
            formControlName="pictureUrl"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.pictureSize" for="field_pictureSize"
            >Picture Size</label
          >
          <input
            type="number"
            class="form-control"
            name="pictureSize"
            id="field_pictureSize"
            data-cy="pictureSize"
            formControlName="pictureSize"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateBy" for="field_updateBy"
            >Update By</label
          >
          <input type="text" class="form-control" name="updateBy" id="field_updateBy" data-cy="updateBy" formControlName="updateBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateName" for="field_updateName"
            >Update Name</label
          >
          <input
            type="text"
            class="form-control"
            name="updateName"
            id="field_updateName"
            data-cy="updateName"
            formControlName="updateName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createBy" for="field_createBy"
            >Create By</label
          >
          <input type="text" class="form-control" name="createBy" id="field_createBy" data-cy="createBy" formControlName="createBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createName" for="field_createName"
            >Create Name</label
          >
          <input
            type="text"
            class="form-control"
            name="createName"
            id="field_createName"
            data-cy="createName"
            formControlName="createName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateDate" for="field_updateDate"
            >Update Date</label
          >
          <div class="d-flex">
            <input
              id="field_updateDate"
              data-cy="updateDate"
              type="datetime-local"
              class="form-control"
              name="updateDate"
              formControlName="updateDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createDate" for="field_createDate"
            >Create Date</label
          >
          <div class="d-flex">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="datetime-local"
              class="form-control"
              name="createDate"
              formControlName="createDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.sequence" for="field_sequence"
            >Sequence</label
          >
          <input type="number" class="form-control" name="sequence" id="field_sequence" data-cy="sequence" formControlName="sequence" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.delFlag" for="field_delFlag">Del Flag</label>
          <input type="number" class="form-control" name="delFlag" id="field_delFlag" data-cy="delFlag" formControlName="delFlag" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">取消</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">保存</span>
        </button>
      </div>
    </form>
  </div>
</div>
