<div>
  <h2 id="page-heading" data-cy="SplitScreenHeading">
    <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.home.title">Split Screens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-split-screen"
        [routerLink]="['/smsapplication/split-screen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.home.createLabel"> 创建新 Split Screen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="splitScreens?.length === 0">
    <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.home.notFound">No Split Screens found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="splitScreens && splitScreens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialId">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.materialId">Material Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.content">Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pictureUrl">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.pictureUrl">Picture Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pictureSize">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.pictureSize">Picture Size</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateBy">Update By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateName">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateName">Update Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createBy">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createBy">Create By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createName">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createName">Create Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateDate">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.updateDate">Update Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.createDate">Create Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sequence">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.sequence">Sequence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="delFlag">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationSplitScreen.delFlag">Del Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let splitScreen of splitScreens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/smsapplication/split-screen', splitScreen.id, 'view']">{{ splitScreen.id }}</a>
          </td>
          <td>{{ splitScreen.materialId }}</td>
          <td>{{ splitScreen.content }}</td>
          <td>{{ splitScreen.pictureUrl }}</td>
          <td>{{ splitScreen.pictureSize }}</td>
          <td>{{ splitScreen.updateBy }}</td>
          <td>{{ splitScreen.updateName }}</td>
          <td>{{ splitScreen.createBy }}</td>
          <td>{{ splitScreen.createName }}</td>
          <td>{{ splitScreen.updateDate | formatMediumDatetime }}</td>
          <td>{{ splitScreen.createDate | formatMediumDatetime }}</td>
          <td>{{ splitScreen.sequence }}</td>
          <td>{{ splitScreen.delFlag }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/smsapplication/split-screen', splitScreen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">查看</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/smsapplication/split-screen', splitScreen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">编辑</span>
              </button>

              <button type="submit" (click)="delete(splitScreen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">删除</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="splitScreens && splitScreens.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
