<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.home.title">Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        [routerLink]="['/smsapplication/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.home.createLabel"> 创建新 Material </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="materials?.length === 0">
    <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.home.notFound">No Materials found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="materials && materials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialName">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.materialName">Material Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.updateBy">Update By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateName">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.updateName">Update Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createBy">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.createBy">Create By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createName">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.createName">Create Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateDate">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.updateDate">Update Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.createDate">Create Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sort">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.sort">Sort</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="delFlag">
            <div class="d-flex">
              <span jhiTranslate="smsApplicationApp.smsApplicationMaterial.delFlag">Del Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materials; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/smsapplication/material', material.id, 'view']">{{ material.id }}</a>
          </td>
          <td>{{ material.materialName }}</td>
          <td jhiTranslate="{{ 'smsApplicationApp.Type.' + material.type }}">{{ material.type }}</td>
          <td>{{ material.updateBy }}</td>
          <td>{{ material.updateName }}</td>
          <td>{{ material.createBy }}</td>
          <td>{{ material.createName }}</td>
          <td>{{ material.updateDate | formatMediumDatetime }}</td>
          <td>{{ material.createDate | formatMediumDatetime }}</td>
          <td>{{ material.sort }}</td>
          <td>{{ material.delFlag }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/smsapplication/material', material.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">查看</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/smsapplication/material', material.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">编辑</span>
              </button>

              <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">删除</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="materials && materials.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
